@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Caveat";
    background: url('fon.jpg');
    background-size: cover; /* Растягиваем изображение на весь экран */
    background-attachment: fixed;
    color: whitesmoke;
    /* margin: 0;
    padding: 0; */
}

.heder {
    font-family: "Balsamiq Sans";
    margin: 35px auto;
    padding: 10px;
    width: 1157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    background-color: rgba(245, 245, 245, 0.938);
    border-radius: 13px;
    box-sizing: border-box;
}

.heder__sitename {
    font-family: "Great Vibes";
    font-weight: 600;
    font-size: 4.5rem;
    color: #884400;
    letter-spacing: 0.205em;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.heder__menu-list {
    display: flex;
    gap: 45px;
}

.heder__menu-link {
    font-family: "Nunito";
    font-weight: 500;
    color: #884400;
    letter-spacing: 0.055em;
    transition: 0.5s;
}

.heder__menu-link:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-style: solid; 
    transition: 0.5s;
}

.heder__menu-link-active{
    color: whitesmoke;
    background-color: #E08C38;
    border-radius: 10px;
    padding: 10px 18px;
    font-weight: 800;
    transition: 0.5s;
}

.welcome {
    margin: 0 auto 100px;
    width: 1167px;
    display: flex;
    justify-content: space-between;
}

.welcome__image{
    transition: 0.5s;
    width: 550px;
    margin-left: 30px;
    border-radius: 250px 30px 250px 30px;
}

.welcome__image:hover{
    scale: 1.15;
    transition: 0.5s;
    box-shadow: 20px 10px 40px #E08C38;
    border-radius: 25px;
}

.welcome__text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 42px 0 67px 0;
    width: 580px;
}

.welcome__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 0.005em;
    color: #E08C38;
    width: 580px;
    margin: 0 0 30px 0;
}

.welcome__paragraph {
    font-family: "Nunito";
    font-size: 25px;
    line-height: 34px;
    letter-spacing: 0.015em;
    color: whitesmoke;
    width: 580px;
    transition: 0.5s;
    padding: 5px;
}

.welcome__paragraph:hover{
    transition: 0.5s;
    border-radius: 13px;
    box-shadow: 1px 1px 30px #4d250079;
}

.about{
    margin: 0 auto 100px;
    width: 1167px;
    background: #1c1917ee;
    border-radius: 13px;
    box-shadow: 1px 1px 30px #4d250079;
    padding: 20px 0 20px 0;
}

.about__paragraph{
    font-family: "Nunito";
    display: flex;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: 0.015em;
    width: auto;
    margin: 20px 0 20px 0;
    transition: 0.5s;
}

.about__text-wrap__text-ower{
    border-radius: 13px;
    padding: 10px;
}

.about__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    color: #E08C38;
}

.about__title-span {
    margin-left: 10px;
    color: #E08C38;
    font-weight: 600;
}

.hobby {
    letter-spacing: 0.055em;
    color: whitesmoke;
    width: 1141px;
    display: flex;
    justify-content: center;
    margin: 0 auto 168px;
    border-radius: 13px;
    background: #1c1917ee;
    box-shadow: 1px 1px 30px #4d250079;
}

.hobby__hobby_cards__text {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 45px;
    line-height: 52px;
    color: #E08C38;
}

.hobby__hobby_card-span {
    margin-left: 10px;
    color: #E08C38;
}

.hobby__hobby_cards__cards {
    font-family: "Pattaya";
    display: flex;
    column-gap: 16px;
    margin-bottom: 50px;
}

.hobby__hobby_cards__card {
    border-radius: 13px;
    transition: 0.5s;
    
}

.hobby__hobby_cards__card:hover .hobby__video{
    border: 5px solid #E08C38;
    transition: 0.5s;
    box-shadow: 1px 1px 70px #E08C38;
}

.hobby__hobby_cards__card:hover .hobby_card-title{
    color: #E08C38;
    transition: 0.5s;
    
}

.hobby__video{
    border-radius: 13px;
    border: 5px solid whitesmoke;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.hobby_card-title {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    transition: 0.5s;
}

.hobby_card-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

.photo {
    letter-spacing: 0.055em;
    color: whitesmoke;
    width: 1167px;
    margin: 0 auto 168px;
    padding: 20px 0;
    border-radius: 13px;
    background: #1c1917ee;
    box-shadow: 1px 1px 30px #4d250079;
}

.photo_cards__text {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    color: #E08C38;
}

.photo_cards-span {
    font-weight: 600;
    margin-left: 10px;
    color: #E08C38;
}

.photo_scroll {
    overflow-x: hidden; /* Скрывает элементы за пределами контейнера */
    white-space: nowrap; /* Располагает элементы в одну линию */
    position: relative;
    width: 100%; /* Растягиваем на всю ширину */
}

.photo_cards_cards {
    display: inline-flex; /* Устанавливаем горизонтальный поток */
    gap: 20px; /* Добавляем расстояние между изображениями */
    animation: scroll-left 40s linear infinite; /* Анимация для прокрутки */
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.photo_cards_card-image {
    width: 40%; /* Пример ширины изображений */
    transition: transform 0.5s;
    border-radius: 13px;
}

.photo_navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.photo_button {
    padding: 10px 20px;
    background-color: #E08C38;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.photo_button:hover {
    background-color: #b5642e;
}

.contacts {
    width: 1210px;
    display: flex;
    justify-content: center;
    margin: 0 auto 300px;
    padding: 25px;
    border-radius: 13px;
    background: rgba(245, 245, 245, 0.897);
    box-shadow: 1px 1px 30px #4d250079;
}

.contacts__wrap__text {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    color: #E08C38;
}

.photo_cards-span {
    font-weight: 600;
    margin-left: 10px;
    color: #E08C38;
}
.contacts__wrap_cards {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin: 0 auto;
}
.contacts__wrap_cards_card {
    display: flex;
    justify-content: space-around;
    transition: 0.5s;
    margin: 0 auto;
}

.contacts__wrap_cards_card:hover {
    transform: scale(1.5);
    transition: 0.5s;
    
}

.contacts__wrap_cards_card-image{
    width: 50%;
    
}

.contacts__wrap_cards_card-link{
    display: inline-flex;
    justify-content: center;
    width: auto;
}

footer{
    font-family: "Nunito";
    font-weight: 100;
    width: 1210px;
    display: flex;
    justify-content: center;
    margin: 0 auto 10px;
}

.footer_in{
    gap: 30px;
}
